*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.header{
    position: absolute; /* задаем шапке фиксированное позиционирование */
    top: 50px; /* располагаем шапку в верхней части окна браузера */
    left: 0; /* располагаем шапку в левой части окна браузера */
    width: 100%; /* задаем ширину шапки на всю ширину окна браузера */
    display: flex; /* задаем элементам шапки flex-контейнер */
    justify-content: center; /* выравниваем элементы шапки по центру */
    align-items: center; /* выравниваем элементы шапки по вертикали */
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.logo{
    position: absolute; 
    top: 20px; /* располагаем логотип в верхней части родительского элемента */
    right: 50px;
}

.nav{
    position: absolute;
    top: 20px;
    display: inline;
    display: flex; /* задаем элементам навигации flex-контейнер */
    justify-content: center; /* выравниваем элементы навигации по краям контейнера */
    align-items: center; /* выравниваем элементы навигации по вертикали */
    height: 50px; /* задаем высоту навигации */
    padding: 0 20px;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: transparent;
    margin-right: 100px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.15px;
}


body{
    background-image: url(/img/title.png);
    background-position: center center;
    background-size: cover;         
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    
    background-color: #000;
}


.container {
    height: 1080px; /* задаем высоту контейнера */
  }
  
  .curtain {
    position: absolute;
    float: left; /* выравниваем элементы по левому краю */
    width: 3%;
    height: 100%;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 0.01%, rgba(255, 255, 255, 0.16) 24.37%, rgba(255, 255, 255, 0.02) 56.15%, rgba(0, 0, 0, 0.40) 100%);
    mix-blend-mode: overlay;
    backdrop-filter: blur(20px);
    margin-right: 0px; /* задаем отступ между элементами */
  }
  
  .curtain:last-child {
    margin-right: 0; /* убираем отступ у последнего элемента */
  }
  
  .curtain::after {
    content: "";
    display: table; 
    clear: both; 
  }

 

  .text{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 130px;
    font-style: normal;
    font-weight: 500;

  }

  .ai{
    position: absolute;
    top: 57%;
    left: 50%;
    padding: 27.5px 29.952px 27.5px 31.048px;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background: rgba(10, 10, 10, 0.70);
    backdrop-filter: blur(10.5px);
  }

  .text-ai{
    
        color: #FFF;
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.15px;
        text-transform: lowercase;
  }

  .button{
    position: absolute;
    top: 75%;
    left: 40%;
    padding: 26px 141px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 20px;
    border: 2px solid #FFF;
    background: #0A0A0A;
    backdrop-filter: blur(10.5px);

  }

  .start{
    color: #FFF;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.25px;
    text-transform: uppercase;
  }